{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">

    
    
  {%if images%}
    <div class="row">
      <!-- displaying News articles -->
      {%for image in images%}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{image.image.url}}" alt="">
        <h2 class="text-center">{{image.name}}  </h2>
      </div>

    <!--Display news Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="" class="img-responsive" alt="">
    </div>



      
  
    </div>
    {%endfor%}
  
    {%else%}
    <div class="row card shadow mt-5 p-5 alert alert-warning">
      <h3 class="text-center">There are no  images to display at the moment...</h3>
    </div>
    
  
  </div>
  {%endif%}
{% endblock %}