<nav class="navbar navbar-inverse bg-dark py-3">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand text-light fs-3" href="">AJ-Gallerries</a>
      </div>

      <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right">

        <form class="navbar-form" role="search"  action="{% url 'search_img' %}" method="GET">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by category e.g medicine..." name="cat">
            <div class="input-group-btn">
              <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </div>
          
        </form>
      </div>
      <!-- search form end -->
    </div>
  </nav>