<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <div class="navbar-header">
        
        <a class="navbar-brand text-light fs-3" href="">AJ-Gallerries</a>
        
          
        
      </div>
      <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars text-light"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active text-light" aria-current="page" href="{% url 'home'%}">Home</a>
        
        >
      </div>

<!-- Adding a search form  -->
<div class="col-sm-4 col-md-4 navbar-right ">

  <form class="navbar-form" role="search"  action="{% url 'search_img' %}" method="GET">

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search by category e.g medicine..." name="cat">
      <div class="input-group-btn">
        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </div>
    
  </form>

    </div>

      

      
      </div>
      <!-- search form end -->
    </div>
  </nav>