{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}} ...</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
  {%for image in images%}
  <div class="card col-md-3 my-3 p-4 shadow m-3 " style="width: 18rem;">
    <img src="{{image.image.url}}" class="card-img-top" alt="..." style="width: 100%;aspect-ratio: 1;">
      <div class="card-footer ">
        <h5 class="card-title text-success">{{image.name}}</h5>
        <a class="btn btn-outline" href="">see more..</a>
       
      </div>
    </div>
    {%endfor%}
  {% endif %}
  </div>
</div>
{% endblock %}